body {
  background-image: url("https://t4.ftcdn.net/jpg/03/65/65/49/360_F_365654951_AymALSPU3ykFgk7QsUMNznWP8tgNimej.jpg");
}

h1 {
  font-family: ink free;
  font-style: oblique;
  text-align: center;
  background: lemonchiffon;
  color: indigo;
}

td, th {
  border: 2px solid;
  border-color: lemonchiffon;
  padding: 7px;
  font-family: ink free;
  }
  
p {
  font-family: courier new;
}

img {
  width: 300px;
  height: 160px;
  border-radius: 25%;
}

table {
  text-align: center;
}

th {
  background-color: indigo;
  color: lemonchiffon;
}

#row-title {
  font-weight: bold;
  color: lemonchiffon;
}

tr:nth-child(even) {
  background-color: mediumpurple; 
}

tr:nth-child(odd) {
  background-color: slateblue;
}

#smallest-value-blue {
  background-color: #8679d7;
}

#smallest-value-purple {
  background-color: #a78be2;
}

#largest-value-blue {
  background-color: #5947c7;
}

#largest-value-purple {
  background-color: #8158d5;
}