body {
  background-image: url("https://t4.ftcdn.net/jpg/03/65/65/49/360_F_365654951_AymALSPU3ykFgk7QsUMNznWP8tgNimej.jpg");
}

h1 {
  font-family: ink free;
  font-style: oblique;
  text-align: center;
  background: lemonchiffon;
  color: indigo;
}

td, th {
  border: 4px;
  border-color: lemonchiffon;
  padding: 3px;
  font-family: ink free;
  }
  

img {
  width: 300px;
  height: 160px;
  border-radius: 25%;
}

table {
  text-align: center;
}

th {
  background-color: blueviolet;
  color: lemonchiffon;
}

#row-title {
  font-weight: bolder;
  color: lemonchiffon;
}

tr:nth-child(even) {
  background-color: rgba(147, 112, 219, 0.8); 
}

tr:nth-child(odd) {
  background-color: rgba(106, 90, 205, 0.8);
}

#smallest-value {
  border-style: dotted;
}

#largest-value {
  border-style: solid;
}



